@page
@model WebApplication5.Pages.IndexModel
@{
}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Neil Juanillo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./css/site.css" />
		<script src="./js/p5.min.js"></script>
		<script src="./js/sketch.js"></script>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="./css/canvas.css"/>
		<script src="https://kit.fontawesome.com/2f823e3d80.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<main id="canvas"></main>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Neil Juanillo</a></li>
							<li><a href="#one">About</a></li>
							<li><a href="#two">Projects</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Neil Juanillo</h1>
							<span>ASP.NET C# PORTFOLIO</span>
							<p>Full Stack Solutions and Applications Developer. <br/>
							Specializing in solving complex problems through creative solutions.</p>
							<ul class="actions">
								<li><a href="./assets/Neil Juanillo 2022 Modern.pdf" target="_blank" class="button scrolly">Resume</a></li>
							</ul>
						</div>
					</section>

					<!-- Two -->
					<section id="one" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>About Neil Juanillo</h2>
							<p>I was born in Dallas, Texas and grew up in Denton. I have many passions, coding being just one. I love to learn and maintain a positive attitude. I am very easy going and prefer to take everything in stride.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Experienced React Developer</h3>
									<p>I have ample projects and contributions to react.js-centered work.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Secure Practices</h3>
									<p>Maintains reliable and thorough security practices in programming with sensitive information.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Fast Learner</h3>
									<p>Able to adapt to different technologies and concepts through years of self-taught experience and passion.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Designer</h3>
									<p>I love to create stylistic and eye appealing sites that attract users.</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>People Person</h3>
									<p>I am very easy to get along with and have a passion with working with others on big projects.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Passion</h3>
									<p>I love to learn and stay up to date with the latest and most innovative news in technology.</p>
								</section>
							</div>
						</div>
					</section>

				<!-- One -->
					<section id="two" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="./images/projects/tic-tac-toe.JPG" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Tic-Tac-Toe React</h2>
									<p>Classic tic-tac-toe game written in react</p>
									<ul class="actions">
										<li><a href="https://github.com/ajax12233512/tic-tac-toe-react" target="_blank" class="button">Github Link</a></li>
										<li><a href="https://glacial-falls-64721.herokuapp.com/" target="_blank" class="button">Deployed Link</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="./images/projects/portfolio-screenshot.JPG" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Portfolio React</h2>
									<p>Official Web Portfolio of Neil Juanillo written in React</p>
									<ul class="actions">
										<li><a href="https://github.com/ajax12233512/Neil-Portfolio" target="_blank" class="button">Github Link</a></li>
										<li><a href="https://ajax12233512.github.io/Neil-Portfolio/" target="_blank" class="button">Deployed Link</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="./images/projects/fastflights-ss.JPG" alt="" data-position="25% 25%" /></a>
							<div class="content">
								<div class="inner">
									<h2>Fast Flights</h2>
									<p>Full Stack MERN application that utilizes the Duffel API to search and purchase flight tickets</p>
									<ul class="actions">
										<li><a href="https://github.com/ajax12233512/fast-flights" target="_blank" class="button">Github Link</a></li>
										<li><a href="https://fast-flights.herokuapp.com/" target="_blank" class="button">Deployed Link</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="./images/projects/email.JPG" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Neil Mail</h2>
									<p>Simple React app that practices the functionality of email automation through a client-side application</p>
									<ul class="actions">
										<li><a href="https://github.com/ajax12233512/Email-Form" target="_blank" class="button">Github Link</a></li>
										<li><a href="https://neil-mail.herokuapp.com/" target="_blank" class="button">Deployed Link</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>



				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<p>I am a very active person on social media and would love to connect with anyone who is open to it!</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="/" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Address</h3>
											<span>2500 N Interstate 35 Apt. #93<br />
											Denton, TX 76201<br />
											USA</span>
										</li>
										<li>
											<h3>Email</h3>
											<a href="mailto:neilj1213@outlook.com" target="_blank">neilj1213@outlook.com</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(972) 352-1300</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li><a href="https://www.facebook.com/neil.juanillo.3958" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
												<li><a href="https://github.com/ajax12233512" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
												<li><a href="https://www.instagram.com/neil.juanillo/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
												<li><a href="https://www.linkedin.com/in/neiljuanillo/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Neil ASP.NET C# PORTFOLIO | All rights reserved.</li>
					</ul>
				</div>
			</footer>

			


		<!-- Scripts -->
			<script src='./js/jquery.min.js'></script>
			<script src="./js/jquery.scrollex.min.js"></script>
			<script src="./js/jquery.scrolly.min.js"></script>
			<script src="./js/browser.min.js"></script>
			<script src="./js/breakpoints.min.js"></script>
			<script src="./js/util.js"></script>
			<script src="./js/main.js"></script>


	</body>
</html>
